@import  "../btn/vars";

@mixin button-theme-variant($styles) {
	$styles_list: map-get($btn-styles, $styles);

	$color: map-get($styles_list, 'color') !default;
	$color-disabled: map-get($styles_list, 'color:disabled') !default;
	$background: map-get($styles_list, 'bg') !default;
	$background-hover: map-get($styles_list, 'bg:hover') !default;
	$background-active: map-get($styles_list, 'bg:active') !default;
	$background-disabled: map-get($styles_list, 'bg:disabled') !default;
	$border-radius: map-get($styles_list, 'border-radius') !default;
	$letter-spacing: map-get($styles_list, 'letter-spacing') !default;

	border-radius: $border-radius;
	background-color: $background;
	font-weight: bold;
	color: $color;
	letter-spacing: $letter-spacing;

	&:hover {
		background-color: $background-hover;
	}

	&:active {
		background-color: $background-active;
	}

	&:disabled,
	&.btn_disabled {
		background-color: $background-disabled;
		color: $color-disabled;
	}
}