@import "../variables";

$lineHeight				: 20;
$height					: 36;
$height_lg				: 46;

$font-family			: sans-serif;
$font-size				: 12px;
$font-size_lg			: 14px;
$font-weight_bold		: bold;
$line-height			: #{$lineHeight}px;

$border-radius			: 3px;
$border-radius_lg		: 4px;
$box-shadow				: 0 2px 4px rgba(65, 18, 0, .3);

$p-top					: #{($height - $lineHeight) / 2}px;
$p-top_lg				: #{($height_lg - $lineHeight) / 2}px;
$p-right				: 12px;
$p-bot					: #{($height - $lineHeight) / 2}px;
$p-bot_lg				: #{($height_lg - $lineHeight) / 2}px;
$p-left					: 12px;

$btn-styles					: (
		'default' : (
				'color'			: #37474f,
				'color:disabled': rgba(#37474f, .54),
				'bg'			: #e2e8ea,
				'bg:hover'		: #e7edef,
				'bg:active'		: #d4dadc,
				'bg:disabled'	: #f0f4f5,
				'border-radius'	: 4px,
				'letter-spacing': .2px
		),
		'orange' : (
				'color'			: #fff,
				'color:disabled': rgba(#fff, .54),
				'bg'			: #eb690b,
				'bg:hover'		: #ed7823,
				'bg:active'		: #d35e09,
				'bg:disabled'	: #ffc59a,
				'border-radius'	: 4px,
				'letter-spacing': .2px
		),
		'green' : (
				'color'			: #fff,
				'color:disabled': rgba(#fff, .54),
				'bg'			: #4eb244,
				'bg:hover'		: #3caa35,
				'bg:active'		: #369830,
				'bg:disabled'	: #9eef94,
				'border-radius'	: 4px,
				'letter-spacing': .2px
		)
)
