@import "variables";
@import "mixins";

.btn_theme_orange {
	/*border-radius: $border-radius_lg;
	background-color: $bg_orange;
	font-weight: bold;
	color: $color_orange;
	letter-spacing: $letter-spacing;

	&:hover {
		background-color: $bg_orange_hover;
	}

	&:active {
		background-color: $bg_orange_active;
	}

	&:disabled,
	&.btn_disabled {
		background-color: $bg_orange_disabled;
		color: $color_orange_trans;
	}*/
}
