@import "variables";

.modal__close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 26px;
	color: #37474f;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: .54;

	&:hover {
		opacity: 1;
	}
}
