.h2 {
    --size:    28px;
    --size-md: 24px;
    --size-sm: 22px;
    --line:    36px;
    --line-sm: 26px;

    font-weight: 500;
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--color-black);
}
