@import "variables";

.table_theme_main {
	table-layout: fixed;

	.table__tr {
		&:nth-of-type(even) {
			background-color: #fafbfc;
		}

		&:nth-of-type(odd) {
			background-color: #fff;
		}
	}

	.table__td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 10px 7px;
		border-left: 1px solid #ecf2f3;
		border-right: 1px solid #ecf2f3;
		font-size: 14px;
		line-height: 20px;
	}
}
