@import "../../common.blocks/_mixins/breakpoints";

.h1 {
    @include media-breakpoint-between(sm, lg) {
        font-size: var(--size-md);
        line-height: var(--line-md);
    }

    @include media-breakpoint-down(sm) {
        font-size: var(--size-sm);
        line-height: var(--line-sm);
    }
}
