.h1 {
    --size:    36px;
    --size-md: 32px;
    --size-sm: 26px;
    --line:    52px;
    --line-md: 48px;
    --line-sm: 32px;

    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--color-black);
}
